.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.flavors-regular {
  font-family: "Flavors", cursive;
  font-weight: 400;
  font-style: normal;
}


.bricolage-grotesque-paragraph {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playwrite-cu-guides-regular {
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-nz-basic-guides-regular {
  font-family: "Playwrite NZ Basic Guides", cursive;
  font-weight: 400;
  font-style: normal;
}



.container {
    width: 80%;
    margin: 0 auto;
}

/* ===========
Desktop Styles
============== */

body {
    color: rgb(5, 5, 55);
    background-color: rgb(251, 216, 221);
    font-family: 'Impact', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(120, 15, 82);
}

a {
    color: rgb(232, 23, 170);
}

a:link, a:visited {
  background-color: hotpink;
  color: rgb(104, 15, 50);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(246, 179, 234);
}

h1 {
    font-family: 'Jacquard 12', system-ui;
    font-size: 80px;
    color: rgb(120, 15, 82);

}

h2 {
    color: rgb(150, 20, 90);
}

#Experience {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(121, 60, 91);
    border-color:rgb(44, 26, 39);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
}

#Experience div {
    padding: 20px;
    border: none;
    justify-content: space-between;

}
.job {
    display: flex;
    justify-content: space-between; 
    
}

#Connect {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(121, 60, 91);
    border-color:rgb(44, 26, 39);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
   
}

#About {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(121, 60, 91);
    border-color:rgb(44, 26, 39);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;

}


#Skills {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(121, 60, 91);
    border-color:rgb(44, 26, 39);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
    

}
.skills-class {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    list-style-type: none;

    
}

.skills-class li {
    text-align: center;

}

.skills-class li::before {
    content: "\2665";
    color: hotpink;
    font-size: 30px;
    margin-right: 10px;
    
}   

#Projects {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(121, 60, 91);
    border-color:rgb(44, 26, 39);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;

}

[id="Leave a Message"] {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(121, 60, 91);
    border-color:rgb(44, 26, 39);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;

}

#messages {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(121, 60, 91);
    border-color:rgb(44, 26, 39);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;

}
#messages li {
    background: hotpink;
    color: rgb(249, 204, 210);
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(44, 26, 39);
    list-style-type: none;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.flex-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;
    justify-content: center;
    align-items: center;

}
 
.flex-list li {
    background: hotpink;
    color: rgb(249, 204, 210);
    margin: 5px;
    padding: 10px;
    border: 1px solid navy;
    
}

.myButton {
    background-color: hotpink;
    color: rgb(104, 15, 50);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(44, 26, 39);
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.usersMessage .usersName .usersEmail {
    width: 100%;
    height: 150px;
    padding: 20px;
    border: 1px solid rgb(44, 26, 39);
    border-radius: 10px;
    resize: vertical;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
}

input[type="text"], input[type="email"] {
    width: 20%;
    padding: 10px;
    border: 1px solid rgb(44, 26, 39);
    border-radius: 8px;
    margin-top: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
}

textarea {
    width: 20%;
    height: 150px;
    padding: 20px;
    border: 1px solid rgb(44, 26, 39);
    border-radius: 8px;
    margin-top: 20px;
    resize: vertical;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
}



/* ===========
Mobile Styles
============== */

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
     body {
        background-color: rgb(249, 241, 205);
        color:rgb(69, 63, 12);
    }
      
    h1 {
        font-family: 'Playwrite CU Guides', cursive;
        font-size: 50px;
        color: rgb(246, 212, 22);

    }

    h2 {
        color: rgb(69, 63, 12);
        font-family: 'Impact', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    p {
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(69, 63, 12);
    }

    a {
        color: rgb(205, 201, 98);
    }

    a:link, a:visited {
        background-color: rgb(205, 186, 16);
        color: rgb(69, 63, 12);
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: rgb(243, 244, 204);
    }


    .flex-list li {
        background: rgb(205, 186, 16);
        color: rgb(70, 69, 122);
        margin: 5px;
        padding: 10px;
        border: 1px solid rgb(50, 46, 2);
    
    }


    .skills-class li::before {
        content: "\2665";
        color: rgb(249, 224, 0);
        font-size: 20px;
        margin-right: 10px;
}   

    #Experience {
        font-size: 20px;
        color: rgb(43, 40, 25);
        border-color:rgb(69, 63, 12);
        border-style: solid;
        border-width: 3px;
    
    }

    #Connect {
        font-size: 20px;
        color: rgb(43, 40, 25);
        border-color:rgb(69, 63, 12);
        border-style: solid;
        border-width: 3px;
   
    }

    #About {
         font-size: 20px;
         color: rgb(43, 40, 25);
         border-color:rgb(69, 63, 12);
         border-style: solid;
         border-width: 3px;

    }

    #Skills {
        font-size: 20px;
        color: rgb(43, 40, 25);
        border-color:rgb(69, 63, 12);
        border-style: solid;
        border-width: 3px;

    }

    #Projects {
        font-size: 20px;
        color: rgb(43, 40, 25);
        border-color:rgb(69, 63, 12);
        border-style: solid;
        border-width: 3px;

    }

    .myButton {
    background-color: #fff869;
    color: rgb(28, 29, 6);
    font-size: 17px;
}

    [id="Leave a Message"] {
        font-size: 20px;
        color: rgb(43, 40, 25);
        border-color:rgb(69, 63, 12);
        border-width: 3px;
       

}
    #messages {
        font-size: 20px;
        color: rgb(43, 40, 25);
        border-color:rgb(69, 63, 12);
        border-width: 3px;
        

    }
    #messages li {
        background:none;
        color: rgb(69, 63, 12);
        margin: 5px;
        padding: 10px;
        border: 1px solid rgb(69, 63, 12);
}
}   




/* ===========
Tablet Styles
============== */

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    body {
        background-color: rgb(240, 249, 255);
        color:rgb(9, 1, 12);
        font-family: 'Flavors', cursive;
    }

    h1 {
        font-family: 'Flavors', cursive;
        font-size: 70px;
        color: rgb(15, 41, 120);

    }

    h2 {
        color: rgb(9, 17, 79);
        font-family: 'Impact', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    p {
        font-size: 16px;
        font-family: 'Bricolage Grotesque', sans-serif;
        color: rgb(48, 48, 80);
    }

    a {
        color: rgb(23, 141, 232);
    }

    a:link, a:visited {
        background-color: rgb(105, 200, 255);
        color: rgb(2, 3, 11);
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: rgb(179, 209, 246);
    }


    .flex-list li {
        background: rgb(105, 200, 255);
        color: rgb(70, 69, 122);
        margin: 5px;
        padding: 10px;
        border: 1px solid rgb(70, 69, 122);
    
    }


    .skills-class li::before {
        content: "\2665";
        color: rgb(4, 1, 53);
        font-size: 15px;
        margin-right: 10px;
}   

    #Experience {
        font-size: 20px;
        color: rgb(60, 60, 90);
        border-color:rgb(74, 75, 121);
        border-style: dotted;
        border-width: 5px;
    
    }

    #Connect {
        font-size: 20px;
        color: rgb(60, 60, 90);
        border-color:rgb(74, 75, 121);
        border-style: dotted;
        border-width: 5px;
   
    }

    #About {
         font-size: 20px;
         color: rgb(60, 60, 90);
         border-color:rgb(74, 75, 121);
         border-style: dotted;
         border-width: 5px;

    }

    #Skills {
        font-size: 20px;
        color: rgb(60, 60, 90);
        border-color:rgb(74, 75, 121);
        border-style: dotted;
        border-width: 5px;

    }

    #Projects {
        font-size: 20px;
        color: rgb(60, 60, 90);
        border-color:rgb(74, 75, 121);
        border-style: dotted;
        border-width: 5px;

    }

    .myButton {
    background-color: #69c8ff;
    color: rgb(6, 7, 29);
    font-size: 19px;
    }
    
    [id="Leave a Message"] {
        font-size: 20px;
        color: rgb(60, 60, 90);
        border-color:rgb(74, 75, 121);
        border-style: dotted;
        border-width: 5px;
       

    }

    #messages {
        font-size: 20px;
        color: rgb(60, 60, 90);
        border-color:rgb(74, 75, 121);
        border-style: dotted;
        border-width: 5px;
        

    }

    #messages li {
        background:none;
        color: rgb(69, 63, 12);
        margin: 5px;
        padding: 10px;
        border: 1px solid rgb(69, 63, 12);

}   