.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
    color: rgb(5, 5, 55);
    background-color: rgb(251, 216, 221);
    font-family: 'Impact', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(48, 48, 80);
}

a {
    color: rgb(232, 23, 170);
}

a:link, a:visited {
  background-color: hotpink;
  color: rgb(104, 15, 50);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(246, 179, 234);
}

h1 {
    font-family: 'Jacquard 12', system-ui;
    font-size: 60px;
    color: rgb(120, 15, 82);

}

h2 {
    color: rgb(150, 20, 90);
}

#Experience {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 60, 90);
    border-color:rgb(74, 75, 121);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
}

#Experience div {
    padding: 20px;
    border: none;
    justify-content: space-between;

}
.job {
    display: flex;
    justify-content: space-between; 
    
}

#Connect {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 60, 90);
    border-color:rgb(74, 75, 121);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
   
}

#About {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 60, 90);
    border-color:rgb(74, 75, 121);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;

}

#Skills {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 60, 90);
    border-color:rgb(74, 75, 121);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;

}

#Projects {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 60, 90);
    border-color:rgb(74, 75, 121);
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.flex-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;
    justify-content: center;
    align-items: center;

}
 
.flex-list li {
    background: hotpink;
    color: rgb(249, 204, 210);
    margin: 5px;
    padding: 10px;
    border: 1px solid navy;
    
}

